.container {
  margin-left: 25px;
  width: 500px;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item {
  font-family: 'Shadows Into Light', cursive;
  height: 200px;
  width: 32%;
  margin-bottom: 2%;
  position: relative;
  padding: 20px;
  font-size: 100px;
}

.title {
  margin-left: 25px;
}

.turn {
  margin-left: 25px;
}